

footer{
    height: 100px;
    text-align: center;
    padding: 20px 0px;
} 
footer a {
    padding-bottom: 40px;
  }
.footer-logo{
    height: 100px;
}

@media screen and (min-width: 992px){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
        height: 150px;
    }

    .footer-logo{
        height: 150px;
    }

    footer > p{
        margin: auto 0px;
    }
}