

footer{
    height: 100px;
    text-align: center;
    padding: 20px 0px;
} 
footer a {
    padding-bottom: 40px;
  }
.footer-logo{
    height: 100px;
}

.facebook-icon {
    font-size: 40px; 
    
  }
  
.facebook-link p{
    font-size: 14px;
    text-decoration: underline;
}

.facebook-link {
   padding-bottom: 20px;
}

@media screen and (min-width: 992px){
    footer{
        
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
        height: 150px;
    }

    .footer-logo{
        height: 150px;
    }

    footer > p{
        margin: auto 0px;
    }


    
    .facebook-link {
        align-items: center;
        /* display: flex; */
        justify-content: center;
      }

    .footer-end{
       
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .facebook-icon {
        font-size: 50px; 
      }

      .facebook-link p{
        font-size: 18px;
        
    }
      
}