



.gallery-title-container > h2{
    width: 90%;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin: 40px auto;
}

.project-box{
    width: 90%;
    margin: 0px auto 50px;
}

.project-text-side{
    text-align: start;
    margin: 0 10px;
}

.project-text-side > h3{
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0px;
}

.project-text-side > h6{
    font-size: 18px;
    margin-bottom: 25px;
}

.slide-container{
    width: 340px;
    margin: 0px auto;
}

.each-slide-effect > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 200px;
    border-radius: 15px;
}




@media screen and (min-width: 992px){

    .project-box{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin: 0px auto 100px;
        
    }

    .project-box.even .project-text-side{
        order: 1;
    }
    .project-box.even .slide-container{
        order: 2;
    }

    .project-box.odd .slide-container{
        order: 1;
    }
    .project-box.odd .project-text-side{
        order: 2;
    }

    .gallery-title-container{
        width: 94%;
        margin: 0px auto 80px;
    }

    .gallery-title-container > h2{
        text-align: start;
        font-size: 50px;
    }

    .project-text-side{
        margin: auto auto;
        text-align: start;
        width: 80%;
    }
    .project-text-side > h3{
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 15px;
    }

    .project-text-side > h6{
        font-size: 20px;
        margin-bottom: 25px;
    }

    .project-image{
        width: 800px;
        margin: 0px auto;
    }

    .slide-container{
        width: 800px;
        margin: 0px auto;
    }

    .each-slide-effect > div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 500px;
    }
}