

.reviews-section{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../components/images/reviews_backg.png');
    background-position: 0px 10px;
    /* height: 500px; */
}

.reviews-section > h3{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

.reviews-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 20px;
}

.review-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.review-auth-date{
    display: flex;
    justify-content: space-between;
}

.stars{
    margin-bottom: 15px;
}
.star-icon{
    color: goldenrod;
    height: 20px;
    width: 30px;
}

@media screen and (min-width: 992px){
    .reviews-section{
        padding-left: 100px;
    }
    .reviews-section > h3{
        text-align: start;
        font-size: 45px;
    }

    .reviews-container{
        width: 70%;
        grid-template-columns: 1fr 1fr;
    }
}