.services-container{
    padding: 10px;
}

.services-box{
    margin: 35px 15px;
    display: grid;
    justify-content: center;
}

.service-text-side > h3{
    background-color: rgba(253, 227, 193, 0.8);
    padding: 10px 5px;
    margin: auto;
    width:auto;
}

.service-text-side > h3, .service-text-side > p{
    text-align: start;
}

.services-nav{
    margin: 30px auto 0;
    padding: auto;
    width: 70%;
}

.services-nav > li {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.services-nav > li > a{
    text-decoration: none;
    color: black;
}

.services-nav > li:hover, .services-nav > li> a:hover{
    color: burlywood;
}

.service-text-side > ul{
    width: 60%;
    margin: 0 auto;
}

.service-bg-img{
    height: 250px;
    background-size: cover;
    background-position: center;
}

.installation-img{
    background-image: url('../components/images/Concrete\ Installation-mobile.png');
}
/* installation_mob.png changed to  Concrete\ Installation-mobile.png */
.repair-img{
    background-image: url('../components/images/repair_mob.png');
}
.foundation-img{
    background-image: url('../components/images/Foundation-mobile.png');
}
/* foundation_mob.png changed to Foundation-mobile.png */
.decorative-img{
    background-image: url('../components/images/Decorative\ concrete-mobile.png');
}
/* decorative_mob.png changed to Decorative\ concrete-mobile.png */
.slabs-img{
    background-image: url('../components/images/concrete\ slabs-mobile.png');
    background-position: left;
}
/* slab_mob.png changed to concrete\ slabs-mobile.png */

.service-mob-img{
    height: 250px;
    width: 325px;
    margin: 0 auto;
}

.service-text-side > p{
    margin: 15px auto;
    /* width: 70%; */
}

.gallery-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.gallery-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


@media screen and (min-width:992px){
    .services-section{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .services-nav{
        width: auto;
    }

    .services-nav > li{
        margin: 40px 0;
        font-size: 25px;
    }

    .services-box{
        display: flex;
        margin-bottom: 80px;
    }

    .service-text-side{
        margin: 0 25px;
        width: 60%;
    }

    .service-text-side > h3, .service-text-side > p{
        text-align: start;
    }

    .service-text-side > h3{
        width: 280px;
        margin: 0;
    }
    

    .service-text-side > p, .service-text-side > ul{
        font-size: 20px;
    }

    .service-bg-img{
        width: 300px;
        height: 500px;
    }

    .installation-img{
        background-image: url('../components/images/Concrete\ Installation-destop.png');
    }
    /* patio.png changed to Concrete\ Installation-destop.png */
    .repair-img{
        background-image: url('../components/images/concrete_repair.png');
    }
    .foundation-img{
        background-position: bottom;
        background-image: url('../components/images/Foundation-destop.png');
    }

    .decorative-img{
        background-image: url('../components/images/Decorative\ concrete-desktop.png');
    }
    /* decorative_concrete.png changed to Decorative\ concrete-desktop.png  */
    .slabs-img{
        background-image: url('../components/images/concrete\ slabs-destop.png');
    }
    /* slabs.png changed to concrete\ slabs-destop.png */

    .gallery-img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}