.services-container{
    padding: 10px;
}

.services-box{
    margin: 35px 15px;
    display: grid;
    justify-content: center;
}

.service-text-side > h3{
    background-color: rgba(253, 227, 193, 0.8);
    padding: 10px 5px;
    margin: auto;
    width: 250px;
}

.service-text-side > h3, .service-text-side > p{
    text-align: center;
}

.services-nav{
    margin: 30px auto 0;
    padding: auto;
    width: 70%;
}

.services-nav > li {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.service-text-side > ul{
    width: 60%;
    margin: 0 auto;
}

.service-img{
    height: 250px;
    margin: 10px auto;
}

.service-text-side > p{
    margin: 15px auto;
    /* width: 70%; */
}



.services-nav > li:hover{
    color: burlywood;
}

@media screen and (min-width:992px){
    .services-section{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .services-nav{
        width: auto;
    }

    .services-box{
        display: flex;
        margin-bottom: 80px;
    }

    .service-text-side{
        margin: 0 25px;
        width: 60%;
    }

    .service-text-side > h3{
        width: 280px;
    }
    

    .service-text-side > p, .service-text-side > ul{
        font-size: 20px;
    }

    .service-img{
        height: 400px;
    }
}